*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 20px auto 10px 15px;
    color: rgba(5, 5, 86, 0.89);
    background: linear-gradient(lightskyblue, white);
}

.hero-section{
    margin: 20px auto 10px 50px;
    display: flex;
    flex-direction: column;
    
}

.image img{
    width: 250px;
    border-radius: 50%;
    margin: 20px auto 20px auto;
    border: 3px solid black;
}

.text{
    padding: 20px auto 20px auto;
}

 .text h1{
    font-size: 50px; 
    margin: 0 auto 30px auto;
}

.text p a{
    color: rgb(8, 126, 24);
}

.text p a:hover{
    color: purple;
    background: rgb(155, 115, 115);
}

.text h3{
    font-size: 30px; 
    margin: 0 auto 20px auto;
}

.text ul{
    margin: 0 auto 20px 50px;
}

.text p{
    margin: 0 auto 30px auto;
}

.input input{
    border: 2px solid black;
    width: 180px;
    height: 30px;
    margin: 0 auto 10px auto;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 5px 10px 6px;
    border-radius: 3px;
}

.btn  button{
    padding: 10px 0px 10px 0px;
    width: 180px;
    font-weight: bold;
    font-size: 17px;
    background: black;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn button:hover{
    background: rgb(17, 201, 218);
    color:blue;
}